#intro {
    height: 100vh;
}

.intro__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw;
}

.intro__title {
    font-size: 9.9vw;
    text-transform: uppercase;
    font-weight: 800;
    font-family: var(--mainPop-font);
    line-height: 0.95;
    letter-spacing: -0.3vw;
    color: var(--mainSub-color);
}

.intro__lines {
    display: block;
    width: 100%;
}

.intro__lines .line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--subBg300);
    margin-bottom: 0.5vw;
}

.intro__lines .line:nth-child(1) {
    height: 1px;
}

.intro__lines .line:nth-child(2) {
    height: 2px;
}

.intro__lines .line:nth-child(3) {
    height: 3px;
}

.intro__lines .line:nth-child(4) {
    height: 4px;
}

.intro__lines .line:nth-child(5) {
    height: 5px;
}

.intro__lines .line:nth-child(6) {
    height: 6px;
}

.intro__lines .line:nth-child(7) {
    height: 7px;
}

.intro__lines.bottom {
    display: none;
}

.intro__lines.bottom .line:nth-child(1) {
    height: 7px;
}

.intro__lines.bottom .line:nth-child(2) {
    height: 6px;
}

.intro__lines.bottom .line:nth-child(3) {
    height: 5px;
}

.intro__lines.bottom .line:nth-child(4) {
    height: 4px;
}

.intro__lines.bottom .line:nth-child(5) {
    height: 3px;
}

.intro__lines.bottom .line:nth-child(6) {
    height: 2px;
}

.intro__lines.bottom .line:nth-child(7) {
    height: 1px;
}

.intro__text {
    background-color: #c1c1c1;
    /* height: 37vh; */
    padding: 7vw 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mainBg-color);
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: all 1.3s;
}

.intro__text .text {
    font-size: 3.4vw;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    font-family: var(--mainPop-font);
    text-decoration: underline;
    letter-spacing: -0.1vw;
    z-index: 100;
    transition: all 0.6s;
}

.intro__text .img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15vw;
    height: 15vw;
    background-image: url(https://images.unsplash.com/photo-1692585531042-edd96e89253d?auto=format&fit=crop&q=80&w=3386&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    filter: grayscale(100%);
}

.intro__text .img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--subBg400);
    border-radius: 50%;
    transition: all 0.6s;
}
.intro__text:hover {
    background-color: #c1c1c14b;
}
.intro__text:hover .text {
    opacity: 0;
}
.intro__text:hover .img::after {
    opacity: 0;
}

@media (max-width: 800px){
    .intro__inner {
        align-items: center;
        justify-content: center;
    }
    .intro__lines.bottom {
        display: block;
    }
    .intro__title {
        display: none;
    }
    .intro__text .text {
        font-size: 30px;
    }
    .intro__text .text > div:nth-child(2){
        filter: brightness(0.5);
    }
    .intro__text .img {
        width: 300px;
        height: 300px;
    }
    .intro__text .img::after {
        opacity: 0.3;
    }

}
